.app-container {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
}

.photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-photo-container {
  border: 2px solid #574c4e;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 30px 15px;

  img {
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: 1;
    border-radius: 5px;
  }
  background-color: #574c4e;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;

  p {
    color: #eeefea;
    a {
      color: #ffe8e2;
      font-weight: bold;
    }
  }
  button {
    border: none;
    height: 40px;
    color: #574c4e;
    background-color: #eeefea;
    border-radius: 40px;
    cursor: pointer;
  }
}
