.app-container {
  width: 70%;
  height: auto;
  margin: auto;
  text-align: center;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.home-p {
  font-size: 20px;
  max-width: 800px;
  display: flex;
  margin: auto;
  left: 0;
  right: 0;
}

.joke-container {
  button {
    border: none;
    font-weight: 600;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #574c4e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #574c4e;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
  h1 {
    font-size: 30px;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
  }
  h2 {
    margin-top: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #574c4e;
  max-width: 500px;
  margin: auto;
  margin-top: 60px;
  left: 0;
  right: 0;
  padding: 15px;
}
.photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.single-photo-container {
  border: 2px solid #574c4e;
  width: 300px;
  height: auto;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
  transition: 0.2s ease-in-out;
  img {
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: 1;
    border-radius: 5px;
  }
  background-color: #574c4e;

  &:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 2px solid #cccccc;
    background-color: #665a5c;
  }
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: #eeefea;
    a {
      color: #ffe8e2;
      transition: 0.3s ease-in-out;
      &:hover {
        font-weight: bold;
      }
    }
  }
  button {
    border: none;
    height: 40px;
    color: #574c4e;
    background-color: #eeefea;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #fdfef9;
    }
  }
}

.load-more-btn {
  border: none;
  height: 40px;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
  color: #574c4e;
  margin-top: 20px;
  font-weight: bold;
  border: 2px solid #574c4e;
  transition: 0.3s ease-in-out;
}
